---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Programs from '../components/sections/Programs.astro';
import Testimonial from '../components/sections/Testimonial.astro';
import CTA from '../components/sections/CTA.astro';
---

<Layout title="Home">
  <Header />
  <main>
    <Hero />
    <Programs />
    <Testimonial />
    <CTA />
  </main>
  <Footer />
</Layout>
